--extra-index-url https://download.pytorch.org/whl/cpu
fastapi[standard]
uvicorn[standard]
gunicorn
asyncpg
sqlalchemy[asyncio]
pgvector
torch
sentence-transformers
python-dotenv
pydantic-settings
numpy
requests
httpx
psycopg2-binary
beautifulsoup4


